# ==================================================
# 🧱 DEPENDENCIES
# ==================================================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ==================================================
# 🧪 TESTING & COVERAGE
# ==================================================
coverage/
.nyc_output/
.vscode-test/

# ==================================================
# ⚙️ BUILD OUTPUT
# ==================================================
dist/
build/
out/
.next/
.nuxt/
.output/
.serverless/
.docusaurus/
.vuepress/dist
.svelte-kit/
.vitepress/dist
.web_modules/
.temp/
.tmp/
.cache/
.parcel-cache
.fusebox/
.output/
bower_components/
lib-cov/
jspm_packages/
web_modules/
uploads/
public/


# ==================================================
# 🪵 LOGS
# ==================================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# ==================================================
# 🔐 ENV FILES
# ==================================================
.env*
!.env.example
!.env.production.example
!.env.development.example

# ==================================================
# 🧰 TOOLING / LINTERS / CACHES
# ==================================================
.eslintcache
.stylelintcache
.npm
.node_repl_history
*.tsbuildinfo
*.tgz
.yarn-integrity
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ==================================================
# 🧩 IDE / OS FILES
# ==================================================
.DS_Store
.idea/
.project
.classpath
.settings/
*.sublime-workspace
.c9/
*.launch

# VSCode - only keep useful configs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ==================================================
# 📦 FRAMEWORK-SPECIFIC
# ==================================================
.vercel
firebase/
.dynamodb/
.tern-port

# ==================================================
# 🧾 DOCS & MISC
# ==================================================
readme.md
*.pem

.driveupload/
.drivedownload/

# ==================================================
# 🗂 PROJECT SPECIFIC (your monorepo)
# ==================================================
blog-backend/uploads/
test/
New Folder/
# google drive
.tmp.driveupload/
.tmp.drivedownload/
.driveupload/
.drivedownload/
